body {
    margin: 0px;
    padding: 0px;
}

.main_heading {
    text-align: center;
    font-size: 80px;
    background-color: #B5D5C5;
    margin-top: 120px;
}


.main_container {

    background-color: #B5D5C5;
    height: 270px;
    text-align: center;
}


.search {
    height: 40px;
    width: 450px;
    border-radius: 25px;
    padding: 10px;

}

.heading {
    padding-top: 40px;

}

.navbar {
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 3px #ccc;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 50px;
    z-index: 1;




}


.nav_links {

    align-items: center;

}

li {

    display: inline-block;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;




}

.nav_icons:hover {
    background-color: #ccc;
    height: 40px;
    width: 80px;
    border-radius: 10px;



}

li>i {
    margin-right: 5px;

}


.sign {
    color: white;
    background-color: black;
    height: 40px;
    width: 80px;
    border-radius: 15px;

}

.image_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* position: relative; */

}

.img_heading {
    color: white;
  position: relative;
    bottom: 80px;
    
    
    font-size: 40px;

}

.karachi_container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




.img_boxes{
    display: flex;
    justify-content: flex-start;
}


 
.boxes{
background-color: green;
height: 13px;
width: 13px;
border-radius: 100%;
margin-right: 1px;
}

.para_underline:hover{
    text-decoration: underline;
    cursor: pointer;

}
.list_btn{
height: 45px;
width: 120px;
border-radius: 50px;
background-color: black;
color: white;

}

.text1{

    padding-right: 100px;
    padding-left: 20px;
    background-color: antiquewhite;

}
.img_container{
    margin-top: 40px;
display: flex;
justify-content: center;
flex-wrap: wrap;

}